@import '../../../scss/style.scss';

.login-img-container {
    margin: 0;
    height: 100vh;
    width: 30vw;
}
.login-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}