@import '../../scss/style.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.data-head {
    font-family: 'Roboto Condensed', sans-serif;
    color: $primary;
    font-size: 16px;
}
.data-field {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.fit-snug{
    max-width: 100%;
    max-height: 100%;
}
.parent-container {
    padding: 0;
}
.card-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: large;
    line-height: 2;
    border-bottom: none;
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-weight: 600;
    line-height: 2;
}
.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: $gray-900;
}
.button-table {
    background-color: none;
}
.icon-table-edit {
    color: $primary;
}
.icon-table-delete {
    color: $danger;
}
.button-table:hover .icon-table-edit {
    color: white
}
.button-table:hover .icon-table-delete {
    color: white
}
.roboto-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.nav-tabs .nav-link {
    color: $dark;
}

th.attributes {
    width: 10%;
}
th.header {
    background-color: $primary-light;
    color: $primary
}
td.header {
    background-color: $primary-light;
    color: $primary
}
.add-tab:hover {
    background-color: $dark;
}
.border-left-collapse {
    border-left: 1px solid $primary
}
.sticky-scroll {
    position: -webkit-sticky;
    position: sticky;
    top: calc(56px + 3rem)
}