@import '../../scss/style.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.data-head {
    font-family: 'Roboto Condensed', sans-serif;
    color: $primary;
    font-size: 16px;
}
.data-field {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.fit-snug{
    max-width: 100%;
    max-height: 100%;
}
.parent-container {
    padding: 0;
}
.card-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: large;
    line-height: 2;
    border-bottom: none;
}
.card-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: large;
    line-height: 2;
    border-bottom: none;
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-weight: 600;
    line-height: 2;
}
.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: $gray-900;
}
.button-table {
    background-color: none;
}
.icon-table-edit {
    color: $primary;
}
.icon-table-delete {
    color: $danger;
}
.button-table:hover .icon-table-edit {
    color: white
}
.button-table:hover .icon-table-delete {
    color: white
}
.roboto-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.invalid-form-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
    color: $danger;
    margin-left: 1rem;
    margin-top: 0
}
.invalid-form-text-attr-field {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
    color: $danger;
    margin-top: 0
}
.nav-tabs .nav-link {
    color: $dark;
}

th.attributes {
    width: 10%;
}
th.header {
    background-color: $primary-light;
    color: $primary
}
td.header {
    background-color: $primary-light;
    color: $primary
}
.add-tab:hover {
    background-color: $dark;
}
.border-left-collapse {
    border-left: 1px solid $primary
}
.sticky-scroll {
    position: -webkit-sticky;
    position: sticky;
    top: calc(56px + 3rem)
}
.image-component {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    
  }
.image-component:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.image-wrapper {
    width: 10%
}
.code-box {
    min-height: 40px;
    border: 1px solid $dark;
    min-width: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.code-box-active {
    min-height: 40px;
    border: 1px solid $success;
    min-width: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.embed-responsive {
    overflow-y: scroll
}
.editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%
}
.editor-wrapper {
    height: 10vh
}
.snippet-creator {
    background-color: $secondary;
    color: white
}
.table-attrs-bundle {
    width: 100%
}
.wrap {
    word-wrap: break-word
}