// Variable overrides
$enable-gradients: true;
$enable-shadows: true;

// Defined default colors
@import '../../node_modules/@coreui/coreui/scss/variables/colors';

// Color
$title: rgba($primary, .1);
$primary-light: rgba($primary, .1);
$info-light: rgba($info, .1);
$success-light: rgba($success, .1);
$warning-light: rgba($warning, .1);
$danger-light: rgba($danger, .1);
$dark-light: rgba($dark, .1);

$theme-colors: (
  "title": $title,
  "primary-light": $primary-light,
  "info-light": $info-light,
  "success-light": $success-light,
  "warning-light": $warning-light,
  "danger-light": $danger-light,
  "dark-light": $dark-light,
);
// Sidebar 
$sidebar-width: 230px;
$sidebar-theme-color: $primary;

// Sidebar brand
$sidebar-light-brand-bg: $white;   
$sidebar-light-brand-color: $sidebar-theme-color;
$sidebar-brand-height:  70px;

// Sidebar items
$sidebar-light-nav-title-color: $black;
$sidebar-light-nav-link-icon-color: rgba($black, .8);
$sidebar-light-nav-link-color: rgba($black, .8);

$sidebar-light-nav-link-hover-bg: rgba($gray-100, .5);
$sidebar-light-nav-link-hover-icon-color: $sidebar-light-nav-link-icon-color;
$sidebar-light-nav-link-hover-color: $sidebar-light-nav-link-color;

$sidebar-light-nav-link-active-bg: rgba($sidebar-theme-color, .1);
$sidebar-light-nav-link-active-color: $sidebar-theme-color;
$sidebar-light-nav-link-active-icon-color: $sidebar-theme-color;
$sidebar-light-nav-link-active-borders: (right: 3px solid $sidebar-theme-color);


// Sidebar footer
$sidebar-light-footer-bg: transparent; 

// Header height
$header-height: 70px;

// Nav tabs
$nav-tabs-border-color: $dark;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $dark $dark transparent;

// Body
$body-bg: $white;

@import "../../node_modules/@coreui/coreui/scss/bootstrap.scss";